@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

body {
  text-align: center !important;
}

.home-container {
  display: flex;
  align-items: center;
  background-color: #2941ab;
  color: #1ed760;
  min-height: 95vh;
}

.home-container h1 {
  font-family: "Roboto", sans-serif;
  font-size: 7.8rem !important;
  line-height: 1 !important;
}

.home-container button {
  padding: 0.75rem 2.2rem;
  border-radius: 32px !important;
  background-color: #1ed760;
  color: #2941ab;
  font-weight: 500;
  font-size: 0.9rem !important;
}

.home-container a {
  color: inherit !important;
  text-decoration: none !important;
}

.home-container a:hover,
.home-container a:hover,
.navbar-dark .navbar-nav .nav-link:hover,
.social-icons-container button:hover {
  color: #1ed760 !important;
}

.home-container button.home-btn:hover {
  background-color: #39e977;
  border-radius: 15px;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 28px 17px !important;
  color: #fff !important;
}

.home-footer {
  padding: 80px 0px 50px 0px;
}

.bottom-bar p {
  margin-bottom: 4px;
  font-size: 0.7rem;
  color: #919496;
}
