footer ul {
  padding: 0px !important;
  display: flex;
  list-style-type: none;
  font-size: 0.7rem;
}

footer ul li {
  margin-right: 24px;
}

footer ul li a {
  color: #919496 !important;
}

footer h6 {
  margin: 20px 0px;
  font-size: 0.8rem;
  color: #a1a1a1;
}

.social-icons-container button {
  padding: 0px;
  margin: 20px 0px 0px 15px;
  width: 56px;
  height: 56px;
  border-radius: 50% !important;
  background-color: #313131;
  color: #fff;
  font-size: 1.5rem !important;
}

footer a {
  color: #fff;
}

footer a:hover,
footer a:hover,
.navbar-dark .navbar-nav .nav-link:hover,
.social-icons-container button:hover {
  color: #1ed760 !important;
}
