button {
  border: none;
  background-color: inherit;
  color: #aaaaaa;
}
button:hover {
  color: #fff;
}

.player-container {
  min-height: calc(100vh - 91px);
  display: flex;
  background: rgb(34, 34, 34);
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(18, 18, 18, 1) 30%,
    rgba(18, 18, 18, 1) 100%
  );
}

.sidebar-wrapper.col {
  padding: 0px;
  max-width: 300px !important;
}

.sidebar-nav {
  padding: 20px;
  height: 100%;
  background-color: #000 !important;
}

.sidebar-nav button {
  align-items: center;
  display: flex;
  height: 40px;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  gap: 16px;
}

.sidebar-nav button svg {
  width: 24px;
  height: 24px;
  margin: 0px;
  font-size: 1.5rem;
}

.spotify-logo {
  margin-bottom: 24px;
  max-width: 131px;
}

.playerbar-container {
  height: 90px;
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  background-color: #181818;
  border-top: 1px solid #282828;
}
.playerbar-song {
  display: flex;
  width: 30%;
  padding-right: 16px;
}

.playerbar-song img {
  max-width: 56px;
  max-height: 56px;
}

.playerbar-song h6,
.playerbar-song p {
  margin: 0px 16px;
  font-size: 0.8rem;
}

.playerbar-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  width: 40%;
}

.playerbar-additonal-btn {
  margin: 0px 8px;
  display: flex;
  align-items: center;
  color: #505050;
  font-size: 0.75rem;
}

.playerbar-progress-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerbar-progress-bar div {
  color: #aaaaaa !important;
  font-size: 0.75rem;
}

.progress {
  height: 3px;
  background-color: #505050;
}

.progress-bar {
  background-color: #aaaaaa;
}

.progress-bar:hover {
  background-color: #1ed760;
}

.player-bar-volume {
  width: 30%;
  display: flex;
  justify-content: end;
}
.top-left-nav button {
  margin-right: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #111111;
}

.top-left-nav button svg {
  color: #aaaaaa;
}

.top-right-nav button {
  margin-right: 24px;
  padding: 0.5rem 2rem;
  border: 1px solid #fff;
  border-radius: 32px !important;
  background-color: #0e0e0e;
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem !important;
}

#user-dropdown-btn {
  all: initial;
}

#user-dropdown-btn * {
  all: unset;
}
#user-dropdown-btn img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  border: 3px solid #2e2e2e;
}
#user-dropdown-btn {
  display: flex;
  align-items: center;
  padding-right: 12px;
  border: none;
  border-radius: 32px !important;
  background-color: #2e2e2e;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 0.85rem !important;
  cursor: pointer;
}
