body {
  background-color: rgb(0, 0, 0) !important;
  /* overflow: hidden; */
}

.content-wrapper {
  overflow-y: scroll !important;
  height: calc(100vh - 90px);
  position: relative !important;
}

.content-wrapper::-webkit-scrollbar {
  width: 12px;
}

.content-wrapper::-webkit-scrollbar-track {
  background-color: #121212;
}

.content-wrapper::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}
.content-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}
.content-wrapper::-webkit-scrollbar-thumb:active {
  background-color: #aaaaaa;
}

.player-container {
  position: relative;
  padding-bottom: 32px;
  background: linear-gradient(180deg, #222222 0%, #121212 30%, #121212 100%);
}

.sidebar-wrapper.col {
  padding: 0px;
  max-width: 300px !important;
  max-height: calc(100vh - 90px);
}

.sidebar-nav {
  padding: 20px;
  height: 100%;
  background-color: #000 !important;
}

.sidebar-nav button {
  align-items: center;
  display: flex;
  height: 40px;
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  gap: 16px;
}

.sidebar-nav button svg {
  width: 24px;
  height: 24px;
  margin: 0px;
  font-size: 1.5rem;
}

.spotify-logo {
  max-width: 131px;
}

.playerbar-container {
  height: 90px;
  width: 100%;

  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  background-color: #181818;
  border-top: 1px solid #282828;
}
.playerbar-song {
  display: flex;
  width: 30%;
  padding-right: 16px;
}

.playerbar-song img {
  max-width: 56px;
  max-height: 56px;
}

.playerbar-song h6,
.playerbar-song p {
  margin: 0px 16px;
  font-size: 0.8rem;
}

.playerbar-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  width: 40%;
}

.playerbar-additonal-btn {
  margin: 0px 8px;
  display: flex;
  align-items: center;
  color: #505050;
  font-size: 0.75rem;
}

.playerbar-progress-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerbar-progress-bar div {
  color: #aaaaaa !important;
  font-size: 0.75rem;
}

.progress {
  height: 3px;
  background-color: #505050;
}

.progress-bar {
  background-color: #aaaaaa;
}

.progress-bar:hover {
  background-color: #1ed760;
}

.player-bar-volume {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.top-navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 300px);
}

.top-left-nav button {
  margin-right: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #111111;
}

.top-left-nav button svg {
  color: #aaaaaa;
}

.top-right-nav button {
  margin-right: 24px;
  padding: 0.5rem 2rem;
  border: 1px solid #fff;
  border-radius: 32px !important;
  background-color: #0e0e0e;
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem !important;
}

#user-dropdown-btn {
  all: initial;
}

#user-dropdown-btn * {
  all: unset;
}
#user-dropdown-btn img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  border: 3px solid #2e2e2e;
}
#user-dropdown-btn {
  display: flex;
  align-items: center;
  padding-right: 12px;
  border: none;
  border-radius: 32px !important;
  background-color: #2e2e2e;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 0.85rem !important;
  cursor: pointer;
}

.card {
  padding: 16px;
  border-radius: 4px;
  background-color: #181818;
}

.card:hover {
  background-color: #313131;
}

.card img {
  max-width: 250px;
  border-radius: 4px;
}

.card-title {
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 0.95rem;
  font-weight: 700;
}

.card-text {
  margin-bottom: 0.5rem;
  color: #aaaaaa;
  font-size: 0.9rem;
}

.card-container-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container-heading a {
  color: #aaaaaa !important;
}
.card-container-heading a:hover {
  text-decoration: underline !important;
}

.album-info {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.album-info h1 {
  margin-bottom: 24px;
  font-size: 6rem;
  font-weight: 700;
  line-height: 5rem;
}

.album-info img {
  max-width: 24px;
  max-height: 24px;
  border-radius: 50%;
}

.album-info div h6 {
  margin: 0px 8px;
}

.album-info div span {
  color: #aaaaaa;
  font-size: 0.9rem;
}

.album-pic {
  max-width: 232px;
  max-height: 232px;
}

@media only screen and (max-width: 1280px) {
  .album-pic {
    max-width: 192px;
    max-height: 192px;
  }
}

.album-songs {
  margin-bottom: 80px;
}

.album-songs > div {
  padding: 0px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #aaaaaa;
}

.album-songs > div > div > img {
  width: 36px;
  height: 36px;
}

.album-songs h6 {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 400;
}
.album-songs p {
  margin-bottom: 0px;
  font-size: 0.8rem;
}

.album-songs > .song-item {
  height: 56px;
}

.album-songs > div > div:last-child {
  width: 20%;
  text-align: end;
}

.song-item:hover {
  background-color: #363636;
}

.album-credits > p {
  margin-bottom: 0px;
  color: #aaaaaa;
  font-size: 0.7rem;
}

.artist-photo-container {
  position: relative;
  width: 100%;
  height: 40vh;
  text-align: center;
}

.artist-photo-gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(34, 34, 34, 0) 43%,
    rgba(18, 18, 18, 0.7091211484593838) 91%
  );
}

.artist-photo-container > div:first-child {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  width: 100%;
  height: 40vh;
  text-align: center;
}

.artist-photo-container div {
  padding: 18px;
  position: absolute;
  bottom: 0;
  color: #fff;
}

.artist-photo-container h1 {
  font-size: 6rem;
  font-weight: 700;
}
.small-card-container {
  display: flex;
  align-items: center;
  height: 80px;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.small-card-container img {
  max-width: 80px;
  max-height: 80px;
}

.follow-btn {
  padding: 0.25rem 1rem;
  border: 1px solid rgba(192, 192, 192, 0.699);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
}

.follow-btn:hover {
  border: 1px solid rgb(255, 255, 255);
}

.footer-container {
  padding: 80px 32px 50px 32px;
  background-color: #000;
}
