@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000 !important;
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}

button {
  border: none;
  background-color: inherit;
  color: #aaaaaa;
}
button:hover {
  color: #fff;
}
